# Include the Requirements
include requirements/*.txt
include requirements.txt

include *.md
include *.py
include *.yaml
include *.yml
recursive-include conf *.yaml
recursive-include lightning_transformers *.py

exclude Makefile
# Exclude tests from package
prune tests
# Exclude the documentation files
prune docs
# Exclude the example files
prune examples
# Exclude build configs
prune .circleci
prune .github
