pytorch-lightning>=1.1.0
torch>=1.6

# extras
fairscale

# huggingface
transformers
datasets

# hydra
hydra-core>=1.1.0.dev2 # todo: swap to 1.1 version once out
omegaconf==2.1.0.dev18 # issues with `throw_on_missing_key`

# task-specific
rouge-score
sentencepiece
