pytorch-lightning>=1.7.0
lightning-utilities>=0.3.0
torch>=1.10.0
numpy
tqdm

#metrics
torchmetrics>=0.7.0

# huggingface
transformers>=4.21.0
datasets

# task-specific
sentencepiece
torchmetrics[text]
Pillow
