{%- set external_urls = {
  'github': 'https://github.com/PytorchLightning/lightning-transformers',
  'github_issues': 'https://github.com/PytorchLightning/lightning-transformers/issues',
  'contributing': 'https://github.com/PytorchLightning/pytorch-lightning/blob/master/CONTRIBUTING.md',
  'governance': 'https://github.com/PytorchLightning/pytorch-lightning/blob/master/governance.md',
  'docs': 'https://lightning-transformers.readthedocs.io/',
  'twitter': 'https://twitter.com/PyTorchLightnin',
  'discuss': 'https://pytorch-lightning.slack.com',
  'tutorials': 'https://lightning-transformers.readthedocs.io/en/latest/quickstart.html',
  'previous_pytorch_versions': 'https://lightning-transformers.readthedocs.io/',
  'home': 'https://lightning-transformers.readthedocs.io/',
  'get_started': 'https://lightning-transformers.readthedocs.io/en/latest/quickstart.html',
  'features': 'https://lightning-transformers.readthedocs.io/',
  'blog': 'https://pytorchlightning.ai/blog',
  'resources': 'https://lightning-transformers.readthedocs.io/',
  'support': 'https://lightning-transformers.readthedocs.io/',
}
-%}
